name: Update Streak Stats

on:
  schedule:
    - cron: "0 0 * * *" # Runs every midnight
  workflow_dispatch:      # Allows you to run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate Streak Stats
        uses: DenverCoder1/github-readme-streak-stats-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          user: FarhanSayed16
          theme: tokyonight
          hide_border: true
          background: 0D1117
          
      - name: Save Image
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update streak stats
          file_pattern: github-streak-stats.svg
